<h3>Lista de productos</h3>
<hr class="text-primary">
<div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let producto of productos">
                <div class="d-flex justify-content-between">
                    <span> {{producto.nombre}} </span>
                    <span> ${{producto.precio}} </span>
                    <span> {{producto.cantidad}} </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col">
    </div>
</div>